<h1>Welcome to MyHomeInfos</h1>
<p>Définissez les pièces de votre maison avec toutes les éléments comprenant celle-ci</p>

<p>dashboard</p>
        <%= link_to "Go!", "rooms", class: 'btn button-essential' %>
